<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Index</title>
<link href="css/estilo.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
			<div class="title">
				<h1>Liga de Futbol Profesional</h1>
			</div>
			<div>
				<nav class="nav">
					<a class="nav-link" href="#">Home</a> 
					<a class="nav-link" href="#">Fixture</a>
					<a class="nav-link" href="#">Equipos</a>
				</nav>
			</div>
	<div class="row">
			<div class="col-9">
					<div><h2>Noticias</h2></div>
				<div class="card-deck">
						<div class="card col-4">
							<img src="../img/Noticia1.jpg" class="card-img" alt="Noticia3">
							<div class="card-body">
								<h3>12/03/20</h3>
								<p>Nueva noticia de los partidos suspendidos en la cuarentena</p>							
							</div>
						</div>
						<div class="card col-4">
							<img src="../img/Noticia2.jpg" class="card-img" alt="logoFI">
							<div class="card-body">
								<h3>13/03/20</h3>
								<p class="card-text">Repeticion de la transmicion en vivo
								de la final de la copa anual profesional</p>							
							</div>
						</div>
						<div class="card col-4">
							<img src="../img/Noticia3.jpg" class="card-img" alt="Noticia3">
							<div class="card-body">
								<h3 class="card-title">20/03/20</h3>
								<p class="card-text">Reprogramacion de sorteos para las proximas 
								fechas</p>							
							</div>
						</div>
						</div>
				</div>
			<div class="col-3">
				<div>Auspiciantes</div>
				
			</div>
			
	</div>

	<div>Contacto</div>
	
</body>
</html>